Repository phutran1210dev/rn_boilerplate, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, build, chore, ci, test

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - rn_boilerplate/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - rn_boilerplate/android/**/*

# Add 'app' label to any change within the 'src' directory and to the files listed below
app:
  - rn_boilerplate/src/**/*
  - rn_boilerplate/index.js

# Add 'build' label to any changes to the files listed below
build:
  - rn_boilerplate/.script/**/*
  - rn_boilerplate/.buckconfig
  - rn_boilerplate/.editorconfig
  - rn_boilerplate/.eslintrc.js
  - rn_boilerplate/babel.config.js
  - rn_boilerplate/.babelrc
  - rn_boilerplate/metro.config.js
  - rn_boilerplate/package.json
  - rn_boilerplate/package-lock.json
  - rn_boilerplate/tsconfig.json
  - .tool-versions

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .idea/**/*
  - rn_boilerplate/.gitattributes
  - rn_boilerplate/.gitignore
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .tool-versions
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'test' label to any change to files within the directories listed below
test:
  - rn_boilerplate/jest/**/*
  - rn_boilerplate/jest.config.js
  - rn_boilerplate/src/**/*.test.tsx

update
  .github/workflows/app.yaml
  app/config/config.dev.ts
Labels: ci

update
  .github/workflows/app.yaml
Labels: ci

update
  .github/workflows/app.yaml
Labels: ci

update
  .github/workflows/app.yaml
  .gitignore
  __tests__/App-test.tsx
  package.json
Labels: chore, ci

update
  app/constants/screens-name.ts
  app/navigators/TabBottom/index.tsx
  package.json
Labels: none

update
  app/constants/screens-name.ts
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  index.js
  package.json
Labels: none

upadte
  app/constants/screens-name.ts
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  app/screens/SettingScreen/index.tsx
  app/screens/index.ts
Labels: none

update
  .azure-pipelines/deploy-all.yaml
  .azure-pipelines/deploy-stg.yaml
  .eslintrc.js
  app/constants/screens-name.ts
  app/navigators/Drawer/index.tsx
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  app/screens/Homescreen/index.tsx
  app/screens/Notification/index.tsx
  app/screens/Profile/index.tsx
  app/screens/index.ts
  babel.config.js
  ios/Podfile.lock
  package.json
Labels: none

update
  .babelrc
  app/navigators/index.tsx
  app/screens/Homescreen/index.tsx
  index.js
  package.json
Labels: none

update code
  .eslintrc.js
  app/config/index.ts
  app/constants/Color.ts
  app/constants/Icons.ts
  app/constants/ListLanguage.ts
  app/constants/index.ts
  app/hooks/index.ts
  app/hooks/useDebouncedEffect.ts
  app/hooks/useMounted.ts
  app/i18n/en/login.json
  app/i18n/index.ts
  app/i18n/languages.ts
  app/i18n/zh/login.json
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  app/screens/Homescreen/index.tsx
  app/services/httpClient.ts
  app/utils/checkDevice.ts
  app/utils/eventRegister.ts
  app/utils/index.ts
  app/utils/responsive.ts
  bin/postInstall
  bin/setup
  ios/Podfile.lock
  package.json
  react-native.config.js
  tsconfig.json
  types/declarations.d.ts
  types/declarationsRedux.d.ts
Labels: none

update config env
  .env
  .env.dev
  .env.prod
  .env.stg
  .gitignore
  android/app/build.gradle
  android/app/src/main/java/com/rn_boilerplate/MainApplication.java
  app/screens/Homescreen/index.tsx
  ios/Config.xcconfig
  ios/Podfile
  ios/Podfile.lock
  ios/rn_boilerplate.xcodeproj/project.pbxproj
  ios/rn_boilerplate.xcodeproj/xcshareddata/xcschemes/rn_boilerplate.xcscheme
  ios/rn_boilerplate/AppDelegate.mm
  package.json
  react-native.config.js
Labels: chore

update package & remove unused
  .babelrc
  app/navigators/Drawer/index.tsx
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  app/provider/authenticated/index.ts
  app/screens/Homescreen/index.tsx
  index.js
  ios/Podfile.lock
  package.json
Labels: none

Refactor code & name-ing
  .eslintrc.js
  app/components/Auto-image/index.tsx
  app/components/Button/index.tsx
  app/components/Button/styles.tsx
  app/components/FlatList/index.tsx
  app/components/Icon/index.tsx
  app/components/ModalConfirm/index.tsx
  app/components/Popup/index.tsx
  app/components/Text/index.tsx
  app/constants/screens-name.ts
  app/navigators/Drawer/index.tsx
  app/navigators/TabBottom/index.tsx
  app/navigators/index.tsx
  app/provider/index.ts
  app/screens/Homescreen/index.tsx
  app/screens/index.ts
  app/services/absHttpClient.ts
  app/store/index.ts
  app/utils/eventRegister.ts
  app/utils/navigation-utils.tsx
  index.js
  package.json
Labels: none
